SIMPLE

LINMAIL

NODECALL=GB7WOD

PASSWORD=ABCDEFGHILKLMNOPQRSTUVWXY               ; SYSOP Passord
AUTOSAVE=1              ; Save Nodes File before exiting

IDMSG:
GB7WOD AXIP Node
***

INFOMSG:
GB7WOD AXIP Node
***

BTEXT:
GB7WOD AXIP Node
***

CTEXT:
Welcome to GB7WOD's Test Node
Type ? for list of available commands.
***

MINQUAL=10
NODESINTERVAL=1
L4WINDOW=7

PORT
 PORTNUM=1
 ID=AXIP Links
 DRIVER=BPQAXIP
 QUALITY=200
 MINQUAL=20
 MAXFRAME=7
 FRACK=7000
 RESPTIME=1000
 RETRIES=10
 NONORMALIZE=1
CONFIG
 ;UDP 10000
 MHEARD ON
 BROADCAST ID
 BROADCAST NODES
 MAP GB7RDG 10.5.0.50 B
ENDPORT


PORT
 PORTNUM=5
 ID=Telnet Server
 DRIVER=Telnet
 QUALITY=200
 MINQUAL=10
 CONFIG
   LOGGING=1
   DisconnectOnClose=0
   TCPPORT=8010
   FBBPORT=8011
   HTTPPORT=8080
   MAXSESSIONS=10
   CTEXT=Welcome to G8BPQ's Telnet Server\nEnter ? for list of commands\n\n
   USER=GB7WOD,password,GB7WOD,,SYSOP
   USER=GB7WOD,password,GB7WOD
   CMDPORT 6505
ENDPORT


APPLICATION 1,BBS,,GB7WOD-3,WODBBS,255    ; BBS Application, can be used a s a PMS. Configured via WEB interface.
